* {
box-sizing: border-box;
}
body{
background: #F7F7F7;
/* Old browsers */
background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
/* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
/* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

.navigation{
position: fixed;
}
header {
background-color: #8B4513;
border-bottom: 1px solid #8B4513;
position: fixed;
width: 100%;
z-index: 10;
text-align: center;
}
h1 {
color: #41292C;
font-family: 'Covered By Your Grace', sans-serif;
font-size: 100px;
line-height: 76px;
margin: 0;
position: relative;
text-align: center;
top: 20%;
}
li {
  color: #41292C;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
}